<div class="template-bottom-wrapper">
<script id="gameBottomWrapper" type="text/html">
<div class="game-bottom-wrapper">
	<canvas id="gameBottom" class="game-bottom"></canvas>
</div>
</script>
</div>


<div class="game-bottom-wrapper">
	<button class="button-op button-choose" id="chooseSet">选关</button>
	<button class="button-op button-refresh" id="refreshCurrent">刷新</button>
</div>