<% include ../layout/header %>
<div class="canvas-header">
<script id="canvasHeaderWrapper" type="text/html">
<div class="canvas-header-wrapper">
	<canvas id="canvasHeader" class="canvas-header"></canvas>
</div>
</script>
</div>

<div class="canvas-wrapper">
<script id="canvasWrapper" type="text/html">
<div class="canvas-stage-wrapper">
	<canvas id="canvasStage" class="canvas-stage"></canvas>
</div>
</script>
</div>

<div class="select-wrapper">
<script id="setSelectWrapper" type="text/html">
<div class="set-select-wrapper">
	<canvas id="canvasSelect" class="canvas-set-select"></canvas>
</div>
</script>
</div>

<div class="canvas-bottom">
<script id="canvasBottomWrapper" type="text/html">
<div class="canvas-bottom-wrapper">
	<canvas id="canvasBottom" class="canvas-bottom"></canvas>
</div>
</script>
</div>


<% include ../layout/footer_game %>